@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
}

@layer utilities {
  .snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .snap-container::-webkit-scrollbar {
    display: none;
  }

  .snap-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
    height: auto;
  }

  @media (min-width: 1024px) {
    .snap-section {
      height: 100vh;
      overflow: hidden;
    }
  }

  .terminal-blur {
    backdrop-filter: blur(10px);
  }
}
